// Main color (Figma Design)
$vision-dashboard_primary_main_color: #0075ff;
$vision-dashboard_primary_light_color: #1a1f37;
$vision-dashboard_primary_medium_color: #0c1e81;
$vision-dashboard_primary_dark_color: #060b28;
$vision-dashboard_primary_heavy_color: #060b26;

$vision-dashboard_accent_main_color: #05cd99;
$vision-dashboard_accent_light_color: #2cd9ff;

$vision-dashboard_gray_light_color: #a0aec0;
$vision-dashboard_gray_dark_color: #1a1f37;

$vision-dashboard_purple_color: #2c0c72;

$vision-dashboard_white_color: #fff;
$vision-dashboard_black_color: #000;

$vision-dashboard_success_main_color: #01b574;
$vision-dashboard_success_light_color: #158354;

$vision-dashboard_error_main_color: #c22c2c;
$vision-dashboard_warning_main_color: #af8415;
