///* ========================================================================
//   #HIDDEN-VISUALLY
//   ======================================================================== */

/* Animation menu */
@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}
@-webkit-keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(180deg);
    }
}
