/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `vision-dashboard-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

$vision-dashboard-font-size-text-massive: 50px !default;
$vision-dashboard-font-size-h1: 36px !default;
$vision-dashboard-font-size-big: 30px !default;
$vision-dashboard-font-size-h2: 28px !default;
$vision-dashboard-font-size-h3: 24px !default;
$vision-dashboard-font-size-h4: 20px !default;
$vision-dashboard-font-size-h5: 18px !default;
$vision-dashboard-font-size-h6: 16px !default;
$vision-dashboard-font-size-text-small: 14px !default;
$vision-dashboard-font-size-text-tiny: 12px !default;
$vision-dashboard-font-size-text-micro: 10px !default;

.text-massive {
    @include vision-dashboard-font-size($vision-dashboard-font-size-text-massive);
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-small,
.text-tiny,
.text-micro {
    word-break: break-word;
}

h1 {
    @include vision-dashboard-font-size($vision-dashboard-font-size-h1);
}

h2 {
    @include vision-dashboard-font-size($vision-dashboard-font-size-h2);
}

h3 {
    @include vision-dashboard-font-size($vision-dashboard-font-size-h3);
}

h4 {
    @include vision-dashboard-font-size($vision-dashboard-font-size-h4);
}

h5 {
    @include vision-dashboard-font-size($vision-dashboard-font-size-h5);
}

h6 {
    @include vision-dashboard-font-size($vision-dashboard-font-size-h6);
}

.text-small {
    @include vision-dashboard-font-size($vision-dashboard-font-size-text-small);
}

.text-tiny {
    @include vision-dashboard-font-size($vision-dashboard-font-size-text-tiny);
}

.text-micro {
    @include vision-dashboard-font-size($vision-dashboard-font-size-text-micro);
}
