///* ========================================================================
//   #CONFIG
//   ======================================================================== */

// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$vision-dashboard-config: (
    env: dev,
    healthcheck: false,
    debug: true,
);

// You can access data in this map using the following function:
//
// vision-dashboard-config(<key>)
//
// Example usage:
//
// @if (vision-dashboard-config(debug) == true) { ...  }

@function vision-dashboard-config($key) {
    @return map-get($vision-dashboard-config, $key);
}
