///* ========================================================================
//   #CORE
//   ======================================================================== */

// This core file sets up inuitcss’ most important setup variables. They
// underpin a lot of how the framework functions and should be modified and
// preconfigured with caution.

// Baseline grid lines height.
// Every spacing metric should be based on this.

$vision-dashboard-global-baseline: 6px !default;

// How many grid lines should our spacing unit variants span?
// Each value should be an unitless integer.

$vision-dashboard-global-spacing-unit-factor-tiny: 1 !default; // 6px
$vision-dashboard-global-spacing-unit-factor-small: 2 !default; // 12px
$vision-dashboard-global-spacing-unit-factor: 4 !default; // 24px
$vision-dashboard-global-spacing-unit-factor-large: 8 !default; // 48px
$vision-dashboard-global-spacing-unit-factor-huge: 16 !default; // 96px

// Spacing values are determined based on your project’s global baseline grid.
// It is not recommended that you modify these following variables
// (it can break your vertical rhythm), but if you need to, you can.

$vision-dashboard-global-spacing-unit: $vision-dashboard-global-baseline * $vision-dashboard-global-spacing-unit-factor !default;
$vision-dashboard-global-spacing-unit-tiny: $vision-dashboard-global-baseline *
    $vision-dashboard-global-spacing-unit-factor-tiny !default;
$vision-dashboard-global-spacing-unit-small: $vision-dashboard-global-baseline *
    $vision-dashboard-global-spacing-unit-factor-small !default;
$vision-dashboard-global-spacing-unit-large: $vision-dashboard-global-baseline *
    $vision-dashboard-global-spacing-unit-factor-large !default;
$vision-dashboard-global-spacing-unit-huge: $vision-dashboard-global-baseline *
    $vision-dashboard-global-spacing-unit-factor-huge !default;

// Base typographical styles.

$vision-dashboard-global-font-size: 16px !default;
$vision-dashboard-global-line-height: $vision-dashboard-global-spacing-unit !default;

// Check that the chosen font rules are pixel numbers.

@each $_vision-dashboard-font-globals in $vision-dashboard-global-font-size $vision-dashboard-global-line-height {
    @if (type-of($_vision-dashboard-font-globals) == number) {
        @if (unit($_vision-dashboard-font-globals) != "px") {
            @error "`#{$_vision-dashboard-font-globals}` needs to be a pixel value.";
        }
    } @else {
        @error "`#{$_vision-dashboard-font-globals}` needs to be a number.";
    }
}

// Check that the chosen size factors are unitless, integer numbers.

@each $_vision-dashboard-spacing-unit
    in $vision-dashboard-global-spacing-unit-factor-tiny
    $vision-dashboard-global-spacing-unit-factor-small
    $vision-dashboard-global-spacing-unit-factor-large
    $vision-dashboard-global-spacing-unit-factor-huge
{
    @if (type-of($_vision-dashboard-spacing-unit) == number) {
        @if (unitless($_vision-dashboard-spacing-unit) == false) {
            @error "`#{$_vision-dashboard-spacing-unit}` needs to be unitless.";
        }

        @if ($_vision-dashboard-spacing-unit != ceil($_vision-dashboard-spacing-unit)) {
            @error "`#{$_vision-dashboard-spacing-unit}` needs to be an integer.";
        }
    } @else {
        @error "`#{$_vision-dashboard-spacing-unit}` needs to be a number.";
    }
}
