/* ==========================================================================
   #PAGE
   ========================================================================== */
.o-page {
    width: 100%;

    background: linear-gradient(188deg, #011a40 10%, #004bc2 36%, #006ffc 56%, #0153dd 68%, #021e43 89%);

    min-height: 100vh;
    display: flex;
    justify-content: center;
    // overflow: hidden;
}
