/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$vision-dashboard-wrapper-width: 1200px !default;

@if (type-of($vision-dashboard-wrapper-width) != number) {
    @error "`#{$vision-dashboard-wrapper-width}` needs to be a number.";
}

.o-wrapper {
    @include vision-dashboard-clearfix();
    padding-right: $vision-dashboard-global-spacing-unit;
    padding-left: $vision-dashboard-global-spacing-unit;
    margin-right: auto;
    margin-left: auto;
    max-width: $vision-dashboard-wrapper-width;
}
