/* ==========================================================================
   header
   ========================================================================== */
.c-header {
    border-radius: $global-radius-bg;
    background: linear-gradient(142deg, #0411555c 58.3%, rgba(34, 57, 168, 0) 101%);
    // linear-gradient(142deg, #0411555c 58.3%, rgb(34 57 168 / 7%) 77%)
    backdrop-filter: blur(60px);
    border-radius: $global-radius-bg;

    @include mq($from: fablet) {
        min-height: 90vh;
    }
}

.c-header__title {
    text-align: center;
    color: #fff;
}
