/* ==========================================================================
   #weight
   ========================================================================== */

.u-weight-bold {
    font-weight: 700 !important;
}

.u-weight-medium {
    font-weight: 500 !important;
}

.u-weight-regular {
    font-weight: 400 !important;
}
