/* ==========================================================================
   #SPACINGS
   ========================================================================== */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-margin-top {}
 *   .u-padding-left-large {}
 *   .u-margin-right-small {}
 *   .u-padding {}
 *   .u-padding-right-none {}
 *   .u-padding-horizontal {}
 *   .u-padding-vertical-small {}
 */

$vision-dashboard-spacing-directions: (
    null: null,
    "-top": "-top",
    "-right": "-right",
    "-bottom": "-bottom",
    "-left": "-left",
    "-horizontal": "-left" "-right",
    "-vertical": "-top" "-bottom",
) !default;

$vision-dashboard-spacing-properties: (
    "padding": "padding",
    "margin": "margin",
) !default;

$vision-dashboard-spacing-sizes: (
    null: $vision-dashboard-global-spacing-unit,
    "-tiny": $vision-dashboard-global-spacing-unit-tiny,
    "-small": $vision-dashboard-global-spacing-unit-small,
    "-large": $vision-dashboard-global-spacing-unit-large,
    "-huge": $vision-dashboard-global-spacing-unit-huge,
    "-none": 0,
) !default;

@each $property-namespace, $property in $vision-dashboard-spacing-properties {
    @each $direction-namespace, $direction-rules in $vision-dashboard-spacing-directions {
        @each $size-namespace, $size in $vision-dashboard-spacing-sizes {
            .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {
                @each $direction in $direction-rules {
                    #{$property}#{$direction}: $size !important;
                }
            }
        }
    }
}
